body{
    background: #23283b;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.container{
    background: #131313;
    max-width: 30vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 35px;
    border-radius: 10px;
    user-select: none;
}

#display-area{
    width: 100%;
    margin: 3vh 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, minmax(40px, auto));
    word-wrap: break-word;
    padding-bottom: 20px;
    border-bottom: 1px rgba(128, 128, 128, 0.116) solid;   
}

#display-area .currentInput{
    text-align: right;
    height: 8vh;
    color: #fff;
    font-size: xx-large;
    line-height: 2;
    word-wrap: break-word;
}

#display-area .answerScreen{
    text-align: right;
    height: 7px;
    color: rgba(150, 150, 150, 0.87);
    font-size: larger;
    line-height: 3;    
}

.bttns{
    display: grid;
    grid: repeat(5, 70px) / repeat(4, 70px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.bttns button{
    outline: none;
    border: none;
    border-radius: 122px;
    background: #232534;
    color: #fff;
    font-size: x-large;
}

.bttns .fun_btn{
    color: #000;
    background: #00e6f6;
    font-weight: bold;
}

.num_btn:hover{
    background: #282a3a;
}

.fun_btn:hover{
    background: #00c6d4;
}

@media only screen and (max-width: 600px){
    body{
        background: #131313;
        align-items: flex-start;
    }
}


